.smashCompare {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 
         auto 400px 150px 400px auto;
    grid-template-rows: 15% 200px 120px 200px 60px auto;
    grid-gap: 15px 0px;
}

.item{
    text-align: center;
}

#vstext {
    font-size: 50px;
}

.item {
    margin: 0 auto;
    width: 80%;
    border-color: #8213dd;
    border-width: 1pt;
}

#header-item {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    white-space: nowrap;
}

#vstext-item {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

#leftChar-item {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
}

#rightChar-item {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
}

#underText-item {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}
.disappearingText {
    animation: opacityOn 1s infinite;
    animation-delay: 2s
}

@keyframes opacityOn{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0
    }
}

.charImage {
    height: auto; 
    width: auto; 
    max-width: 400px; 
    max-height: 400px;
}

body{
    background-color: #ddc2c2
}

/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
    to {
      -webkit-transform: scale(1.02);
      transform: scale(1.02);
    }
  }
  @keyframes hvr-pulse-grow {
    to {
      -webkit-transform: scale(1.02);
      transform: scale(1.02);
    }
  }

  img:hover, img:focus, img:active {
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }
  